@model ResatSahinProje2021.Models.GraduateArchives

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/ManagamentPanel/Views/Shared/_Layout.cshtml";
}

<h2>SİL</h2>

<h3>Bunu silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Bölümler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Bölüm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearsName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")
        </div>
    }
</div>
