@model List<ResatSahinProje2021.Models.Communications>
@{
    ViewBag.Title = "İletişim";
    ViewBag.Title2 = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}

@section Slider{

    @Html.Partial("_Slider2", true)
}



<section class="contact_info_wrapper" style="background-image:url(../../Content/images/banner/map_shape.png)">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="sub_title">
                    <hr />
                    <h3>İLETİŞİM</h3>
                    <hr />
                </div>
            </div>
            @foreach (var item in Model)
            {

                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="contact_info">
                        <h3 class="title">@item.Name</h3>
                        <div class="event_location_info">
                            <ul class="list-unstyled">
                                <li>
                                    <h4 class="info_title">Adres : </h4>
                                    <ul class="list-unstyled">
                                        <li>@item.Info </li>

                                    </ul>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</section>