
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagamentPanel/Views/Shared/_Layout.cshtml";
}
<h5 class="alert-danger"><b>Burası Admin Panelidir. Bu bölüm Ana sayfada görünmesini istediğiniz verileri eklediğiniz yerdir. Sol sekmede Okulunuzla ilgili her ayrıntı bulunmaktadır</b></h5>

<h2>Dikkat Edilmesi Gereken Hususlar:</h2>

<p><b>
    Öğretmen eklenirken eklenecek öğretmenin "ALAN" ya da "Ders Öğretmeni" Olup Olmadığına Dikkat Etmeniz gerekmektedir<br />
   ---> Alan öğretmenleri "Alan Öğretmenleri" adındaki  bölümden eklenir.<br />
   ---> Ders öğretmenleri de "Ders Öğretmenleri" adındaki bölümde eklenir.<br />
    Bölümler eklenirken "Büyük Harfle" başlanamsına dikkat etmeniz gerekmektedir. Eklediğiniz yazılar Ana sayfada eklendiği şekilde  görünecektir.
</b><p>
   <p class="alert-danger"> Önemli NOT: İdareciler, Müdür vb Görevdeki Kişiler Ders Öğretmenleri bölümünden sisteme eklenir. İdareci Kişilerin anlaşılması için; <br />
    Sistemde eklenen kişinin idareci olup olmadığını belirtmenizi isteyen bir buton mevcuttur. 
    </p>

<p><b>Alan Öğretmeni eklemek için</b><br /> İlk  yapmanız gereken <b>Branşlar</b> bölümünden okulunuzda var olan alanları sisteme girmeniz gerekmektedir.(Cilt bakım,elektrik vs)<br />
    Alanlar eklendiğinde, <b>bu alanda eğitim veren öğretmenleri "ALAN ÖĞRETMENLERİ" bölümünden</b> Adı,soyadı,resmini ve alanını seçerek sisteme kayıt edebilirsiniz.

    </p>
<p class="alert-danger">Her bölümde eklenen verilerin düzeltilmesi ve silinmesi için yerler bulunmaktadır.<br />
    Yanlış yazılan,eklenen verileri siliniz ya da düzenle seçeneğine tıklayarak düzeltme işlemini yapınız.</p>
<b>Resim</b>
<p><b>Resim Boyutu sistemde düzgün görünmesi için sabit bir değere atanmıştır. Bu değer 540x540 olarak ayarlıdır ve bu değer üstünde resim girerseniz<br /> 540x540 olarak sistem otomatik olarak çevirecektir.<br /></b>

    </p>

<p><b>Mezunların Alanı</b><br />
    <b class="alert-danger"> Mezun öğrencileri eklemeden önce Mezunların Alanları bölümünü doldurun!.</b>
    Sol sekmede "Mezunların Alanı" olarak görülen bölüm,  Mezun olan öğrencileri web sitesinde göstermenizi sağlar.
    <p class="alert-danger">Sisteme örnek alanlar eklenmiştir</p>
    </p>
<p><b>Mezun Olmuş Öğrenciler</b><br />
    Mezun olan öğrencileri hangi alandan mezun olduysa ona göre seçip sisteme eklemelisiniz.
    </p>

<p><b>Sıkça Sorulan Sorular</b>
<p>Okulunuzla ilgili soruları ve cevaplarını bu bölümden ekleyebilirsiniz.</p>