@{ ResatSahinProje2021.Models.Users user = new ResatSahinProje2021.Models.Users(); }

<!DOCTYPE html>


<html lang="tr">


<head>

    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->
    <meta name="description" content="GML-Admin" />

    <!-- OG -->
    <meta property="og:title" content="GML-Admin" />
    <meta property="og:description" content="GML-Admin" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="~/Content/Login/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Login/images/favicon.png" />

    <!-- PAGE TITLE HERE ============================================= -->
    <title>Hoşgeldiniz</title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <link href="~/Content/Login/assets.css" rel="stylesheet" />
        <script src="~/Scripts/js/loginJs/js/html5shiv.min.js"></script>
        <script src="~/Scripts/js/loginJs/js/respond.min.js"></script>
        <![endif]-->
    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/assets.css">

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/typography.css">

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/shortcodes/shortcodes.css">

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/style.css">
    <link class="skin" rel="stylesheet" type="text/css" href="~/Content/Login/color/color-1.css">

</head>
<body id="bg">
    <div class="page-wraper">
        <div id="loading-icon-bx"></div>

        <div class="account-form">

            <div class="account-head" style="background-image:url(~/Content/Login/images/background/bg2.jpg);">
                <a href="#!"><img src="~/Areas/ManagamentPanel/Content/images/bare logo.png" alt=""></a>
            </div>
            <div class="account-form-inner">
                <div class="account-container">
                    <div class="heading-bx left">
                        <h2 class="title-head">Giriş Ekranı<span></span></h2>
                        @if (ViewBag.RolId == 1)
                        {
            <p>Kayıt Eklemek Mi İstiyorsun? <a href="@Url.Action("Register","Admin")">Buraya Tıkla</a></p>}


                    </div>

                    @using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { @class = "contact-bx" }))
                    {



                        <div class="row placeani">
                            <div class="col-lg-12">
                                @if (ViewBag.Error != null)
                                {
                                <p style="color:red">@ViewBag.Error</p>
                                }
                                <div class="form-group">
                                    <div class="input-group">

                                        <label>Mail Adresi</label>
                                        <input name="email" type="email" required="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label>Şifre</label>
                                        <input name="password" type="password" class="form-control" required="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 m-b30">
                                <button name="submit" type="submit" value="Submit" class="btn button-md">Giriş Yap</button>
                            </div>

                        </div>
                     }
                </div>
            </div>
        </div>
        <script src="~/Scripts/js/loginJs/js/functions.js"></script>
    </div>
    <!-- External JavaScripts -->
    <script src="~/Scripts/js/loginJs/js/jquery.min.js"></script>
    <script src="~/Content/Login/vendors/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/Login/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Login/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/Login/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <script src="~/Content/Login/vendors/magnific-popup/magnific-popup.js"></script>
    <script src="~/Content/Login/vendors/counter/waypoints-min.js"></script>
    <script src="~/Content/Login/vendors/counter/counterup.min.js"></script>
    <script src="~/Content/Login/vendors/imagesloaded/imagesloaded.js"></script>
    <script src="~/Content/Login/vendors/masonry/masonry.js"></script>
    <script src="~/Content/Login/vendors/masonry/filter.js"></script>
    <script src="~/Content/Login/vendors/owl-carousel/owl.carousel.js"></script>
    <script src="~/Scripts/js/loginJs/js/functions.js"></script>
    <script src="~/Scripts/js/loginJs/js/contact.js"></script>
    <script src='~/Content/Login/vendors/switcher/switcher.js'></script>
    <script src="~/Content/Login/vendors/bootstrap/js/popper.min.js"></script>
</body>
</html>